body{
    margin: 0;
    background-color: #fffdd0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.header{
    color: black;
    font-size: 2rem;
    text-align: center;
}
#board-wrapper{
    width: 470px;
    height:520px;
    margin: auto;
    position: relative;
}

.inactive-board{
    pointer-events: none;
}

.board-square{
    background-color: #ebe56a;
    float: left;
    height: 150px;
    width: 150px;
    font-family: sans-serif;
    font-size: 100px;
    line-height: 150px;
    text-align: center;
}

.board-square:hover{
    background-color: #f2ee8f;
}

#s0, #s1, #s2, #s3, #s4, #s5{
    border-bottom: solid 10px black;
}

#s1, #s4, #s7{
    border-left: solid 10px black;
    border-right: solid 10px black;
}

.win{
    color: red;
}

.hidden{
    visibility: hidden;
}

#add-players{
    display: block;
    text-align: center;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.5rem;
    width: 470px;
    margin: auto;
}

#reset-btn{
    position: absolute;
    width: 200px;
    margin-top: 10px;
    bottom: 0;
    left: 135px;
    font-size: 2rem;
    pointer-events: auto;
}

label{
    display: block;
}

input{
    color: red;
    font-size: 2rem;
    width: 300px;
    text-align: center;
}

.mark-select{
    font-size: 2rem;
}

.scores{
    width: 700px;
    margin: auto;
    display: flex;
    font-size: 2rem;
}

.start-btn{
    font-size: 2rem;
}

.p2-score{
    margin-left: auto;
}
